/* ============================= */
/* ! Larkfofty Styles  */
/* ============================= */

/* Sticky Footer */

* {
    margin: 0;
}


html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

#push, footer {
    height: 100px;
}

/* end sticky footer */

#navbar {
    margin-bottom: 40px;
}

footer  {
    background-color: #e5e5e5;
    margin-top: 100px;
}

footer #footer-container {
    padding: 25px 0 25px 0;
}

footer p {
    margin: auto;
    width: 50%;
    text-align: center;
    color: #777;
}

/* Sticky Footer */

